{% extends 'base.html' %} {% block content %}
<div class="form">
  {% with messages =get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <p class="alert alert-danger">{{message}}</p>
  {% endfor %} {% endif %} {% endwith %}

  <form action="/update/{{employee.id}}" method="post">
    <h3>Update Employee Info</h3>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="John Doe"
        value="{{employee.name}}"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        value="{{employee.email}}"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Phone Number</label
      >
      <input
        name="phone_number"
        type="tel"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="12344567890"
        value="{{employee.phone_number}}"
      />
    </div>
    <div class="mb3">
      <input type="submit" class="btn btn-primary" value="Add" />
    </div>
  </form>
</div>
{% endblock content %}
